@import 'https://fonts.googleapis.com/css?family=Oswald';
body {margin: 0; background-color: #eaeaea;}

a {color: #f27239;}

.logo {position: absolute; left: 0px; top: -15px;}

.nav {margin: auto; width: 800px;height: 60px;}




    .DesktopNav {background-color: white; height: 60px; border: none; border-bottom: 3px rgba(67, 67, 67, 0.63);
-webkit-box-shadow:0px 3px 0px #f27239;
    -moz-box-shadow:0px 3px 0px #f27239;
    box-shadow:0px 3px 0px #f27239;
    
    z-index: 1; position: fixed; width: 100%; font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  top:0px;      
}

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.container p {
  font-size: 20px;
}
.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #f27239;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}
.container a:after {
  content: '';
  position: absolute;
  background: #f27239;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: .35s ease;
  transition: .35s ease;
}
.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}



.button_container {
  position: fixed;
  top: 18px;
  right: 15px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #f27239;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #f27239;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
    z-index: 1;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 10%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}




div.pagecontent {margin: auto;
width: 800px;
height: ;
background-color: white;
font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;}

   @media screen and (max-width: 800px) {
div.pagecontent {
    margin: auto;
width: 100%;
height: ;
background-color: white;
font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
       }
   }

.navlinks a {
font-size: 30px;
    text-decoration: none;
    color: #f27239;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -80px;
    right: -345px;
}
a.main {background-color: #f27239;
color: white;}

a.active {border:1px solid #f27239;}


@import url(http://fonts.googleapis.com/css?family=Vollkorn|Roboto);

.container {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 40%;
  left: 0;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}
.container p {
  font-size: 20px;
}
.container a {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #f27239;
  text-decoration: none;
  font-size: 20px;
  overflow: hidden;
  top: 5px;
}
.container a:after {
  content: '';
  position: absolute;
  background: #f27239;
  height: 2px;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 0;
  -webkit-transition: .35s ease;
  transition: .35s ease;
}
.container a:hover:after, .container a:focus:after, .container a:active:after {
  width: 100%;
}



.button_container {
  position: fixed;
  top: 18px;
  right: 15px;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  -webkit-transition: opacity .25s ease;
  transition: opacity .25s ease;
}
.button_container:hover {
  opacity: .7;
}
.button_container.active .top {
  -webkit-transform: translateY(11px) translateX(0) rotate(45deg);
          transform: translateY(11px) translateX(0) rotate(45deg);
  background: #fff;
}
.button_container.active .middle {
  opacity: 0;
  background: #fff;
}
.button_container.active .bottom {
  -webkit-transform: translateY(-11px) translateX(0) rotate(-45deg);
          transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #fff;
}
.button_container span {
  background: #f27239;
  border: none;
  height: 5px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all .35s ease;
  transition: all .35s ease;
  cursor: pointer;
}
.button_container span:nth-of-type(2) {
  top: 11px;
}
.button_container span:nth-of-type(3) {
  top: 22px;
}

.overlay {
  position: fixed;
  background: #f27239;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .35s, visibility .35s, height .35s;
  transition: opacity .35s, visibility .35s, height .35s;
  overflow: hidden;
    z-index: 1;
}
.overlay.open {
  opacity: .9;
  visibility: visible;
  height: 100%;
}
.overlay.open li {
  -webkit-animation: fadeInRight .5s ease forwards;
          animation: fadeInRight .5s ease forwards;
  -webkit-animation-delay: .35s;
          animation-delay: .35s;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .45s;
          animation-delay: .45s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .50s;
          animation-delay: .50s;
}
.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: .55s;
          animation-delay: .55s;
}
.overlay nav {
  position: relative;
  height: 70%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 50px;
  font-family: 'Vollkorn', serif;
  font-weight: 400;
  text-align: center;
}
.overlay ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: inline-block;
  position: relative;
  height: 100%;
}
.overlay ul li {
  display: block;
  height: 25%;
  height: calc(100% / 4);
  min-height: 50px;
  position: relative;
  opacity: 0;
}
.overlay ul li a {
  display: block;
  position: relative;
  color: #FFF;
  text-decoration: none;
  overflow: hidden;
}
.overlay ul li a:hover:after, .overlay ul li a:focus:after, .overlay ul li a:active:after {
  width: 100%;
}
.overlay ul li a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 3px;
  background: #FFF;
  -webkit-transition: .35s;
  transition: .35s;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}





/*Profiles*/
div.profileimg {height: 200px; 
width: 100%;}

.cover {
  object-fit: cover;
}
.profileimg img {

}

.profileimg img {
    width: 100%;
        display: block;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.profilename {
    font-size: 20px
}

.profileroll {
    color: gray;
}

.content{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0px;
    border-radius: 15px;
    height: 250px;
    background-color: white;
}



.profilealert {
    margin: auto;
width: 700px;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 5px;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;}

   @media screen and (max-width: 700px) {
.profilealert {
    margin: auto;
width: 90%;
background-color: white;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
border-radius: 5px;
text-align: center;
padding-top: 5px;
padding-bottom: 5px;
       }
   }

.popup {width: 100vw;
height: 100vh;
position: absolute;
top: 0px;
left: 0px;
z-index: 999999;
background-color: white;
display: none;}

.close {position: absolute; top:10px;right: 10px;font-size: 50px;
width:20px;
height:20px;
background-color: #dd3c3c;
border-radius: 5px;}
.popupname {text-align: center; font-size: 30px;
font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #f27239;
}
.popuproll {text-align: center; font-size: 25px;
font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #c9c9c9;
}
.popupimg {height: 300px;
text-align: center;}

.popupabout {
    text-align: center; font-size: 25px;
font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #f27239;}

div.text{padding-left: 10px;}

.comingsoon {background-color:#f27239; 
position: fixed;
top: 0;
bottom: 0px;
left: 0px;
right: 0px;
}

.c2435 {color: white;
text-align: center;
font-family: 'Oswald', sans-serif;}

h1.c2435{font-size: 50px;}
p.c2435{font-size: 30px;}
a.c2435 {
padding-top: 5px;
padding-bottom: 5px;
padding-left: 10px;
padding-right: 10px;
background-color:#ea6d35;
text-decoration: none;}
a.c2435:hover{background-color:#dd6732;}
a.c2435:focus{background-color:#c65e30;}
div.c2435{text-align: center;}

.https{margin: auto;
width: 790px;
background-color: white;
border: none; border-bottom: 3px rgba(67, 67, 67, 0.63);
-webkit-box-shadow:0px 3px 0px #f27239;
-moz-box-shadow:0px 3px 0px #f27239;
box-shadow:0px 3px 0px #f27239;
height: 40px ;
position: relative;
top: 73px;
font-size: 20px;
font-family: 'Oswald', sans-serif;

}

a.httpsnope{color: #bfbfbf;
font-size: 15px;
cursor:default;
}

a.httpsok {color: white;
padding-top: 5px;
padding-bottom: 5px;
padding-left: 18px;
padding-right: 18px;
background-color:#ea6d35;
box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
text-decoration: none;
text-align: center;
border-radius: 3px;
-webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
cursor:default;
}
a.httpsok:hover{background-color:#dd6732;}
a.httpsok:focus{background-color:#c65e30;}
div.httpsleft {float: right;}